{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cars/car-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>MOD List</h1>
  <img src="{% static '/images/automobile-car-cultures-svgrepo-com.svg' %}" alt="A cool cat" />
  <img src="{% static '/images/automobile-steering-wheel-svgrepo-com.svg' %}" alt="A happy cat" />
  <img src="{% static '/images/ferrari-svgrepo-com.svg' %}" alt="A cat in a teacup" />
  <img src="{% static '/images/automobile-motor-svgrepo-com.svg' %}" alt="A cat in a box" />
</section>

<section class="card-container">
  {% for car in cars %}
    <div class="card">
      <a href="{% url 'cars_detail' car.id %}">
        <div class="card-content">
          <div class="card-img-container">
     
          </div>
          <h2 class="card-title">{{ car.make }}</h2>
          {% if car.year > 0 %}
            <p>A {{ car.year }}  {{ car.model }}</p>
          {% else %}
            <p>A {{ car.model }} kitten.</p>
          {% endif %}
          <p><small>{{ car.oiltype }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}